input{
    -webkit-appearance: none;
}

.searchbox{
    background-color: #e8e9ec;
}
.navul {
background-color: #fff;
}

.navul li a {
    display: inline-block;
    color: #333;
    padding: 0.28rem 0;
    line-height: 1;
}

.navul li {
    float: left;
    color: #333;
    font-size: 0.32rem;
    text-align: center;
    width: 50%;
}

.navul li a.active {
    color: #e8b05d;
    border-bottom: 5px solid #e8b05d;
}
.top{
    height: 0.64rem;
    background-color: #f0f0f0;
    padding-top: 0.19rem;
    padding-bottom: 0.19rem;
    padding-left: 0.24rem;
}
.textinput{
    width:2.26rem;
    height: 0.64rem;
    line-height: 0.64rem;
    border:none;
    border-radius: 6px;
    padding-left: 0.2rem;
}
.zhi{
    margin-left:0.1rem;
    margin-right:0.1rem;
    line-height: 0.64rem;
}
.search{
    width:1.42rem;
    height: 0.64rem;
    background-color: #e8b05d;
    border:none;
    border-radius: 6px;
    color: #fff;
    font-size: 0.28rem;
    margin-left: 0.22rem;
}
.dateol{
    padding-top: 0.28rem;
    padding-bottom: 0.28rem;
    background-color: #fff;
}
.dateol li{
    width: 1.6rem;
    height: 0.64rem;
    background: #f0f0f0;
    float: left;
    /*margin-right: 0.2rem;*/
    font-size: 0.3rem;
    color: #333333;
    text-align: center;
    line-height:0.64rem;
    border-radius: 6px;
}
.dateol li.active{
    background: #e8b05d;
    color: #fff;
}
.marginl25{
    margin-left: 0.25rem;
}
.marginl25:last-child{
    margin-right: 0;
}
.title{
    width:1.9rem;
    height: 0.86rem;
    text-align: center;
    line-height: 0.86rem;
    border-top:0.01rem solid #e6e6e6;
    border-right:0.01rem solid #e6e6e6;
    font-size: 0.26rem;
    color: #333;
}
.mainwz{
    width:1.9rem;
    height: 0.86rem;
    text-align: center;
    line-height: 0.86rem;
    border-top:0.01rem solid #e6e6e6;
    border-right:0.01rem solid #e6e6e6;
    font-size: 0.26rem;
    color: #666;
}
.mainwz2{
    width:1.81rem;
    height: 0.86rem;
    text-align: center;
    line-height: 0.86rem;
    border-top:0.01rem solid #e6e6e6;
    border-right:0.01rem solid #e6e6e6;
    font-size: 0.26rem;
    color: #666;
}
.title2{
    width:3.64rem;
}
.mainnr{
    background-color: #fff;
}
.mainnrdt .title:last-child{
    border-right:none;
}
.mainnrdd .mainwz:last-child{
    border-right:none;
}
.xiaofze{
    width:6.46rem;
    height: 1.86rem;
    background-color: #fff;
    border-radius: 6px;
    margin: 0 auto;
    margin-top: 0.3rem;
    padding-top: 0.24rem;
}
.rangeje{
    font-size: 0.26rem;
    color: #666666;
    text-align: center;
    display: block;
    margin-bottom: 0.24rem;
}
.price{
    font-size: 0.6rem;
    color: #e8b05d;
    text-align: center;
    display: block;
    line-height: 1;
}
.scrolltop{
    width:100%;
    height: 0.01rem;
}
.mainwz3{
    display: block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}