.reset .line {
    border-bottom: 0.01rem solid #e8e8e8;
    background: #fff;
    height: 1rem;
    padding: 0 0.2rem;
}

.reset .text {
    width: 100%;
    height: 0.98rem;
    font-size: 0.3rem;
    color: #999999;
    border: 0;
    background: none;
    display: block;
    border-radius: 0;
    padding: 0;
    margin: 0;
}
.reset .textzz {
    width: 2rem;
    height: 0.98rem;
    font-size: 0.3rem;
    color: #999999;
    border: 0;
    background: none;
    display: block;
    border-radius: 0;
    padding: 0;
    margin: 0;
}
.submit {
    width: 7rem;
    height: 0.86rem;
    border-radius: 8px;
    background-color: #c79852;
    position: fixed;
    bottom: 0.36rem;
    font-size: 0.3rem;
    color: #fff;
    text-align: center;
    line-height: 0.86rem;
    left: 0.24rem;
}
.yanzhengcode{
    float: right;
    width: 1.7rem;
    height: 0.6rem;
    background: #fff;
    border:1px solid #c8994c;
    color: #c8994c;
    font-size: 0.26rem;
    border-radius: 0.08rem;
    line-height: 0.6rem;
    text-align: center;
    margin-top: 0.2rem;
}
.yanzheng{
}