.search {
    background-color: #e8e9ec;
}

.navul {
    background-color: #fff;
}

.navul li a {
    display: inline-block;
    color: #333;
    padding: 0.28rem 0;
    line-height: 1;
}

.navul li {
    float: left;
    color: #333;
    font-size: 0.32rem;
    text-align: center;
    width: 50%;
}

.navul li a.active {
    color: #c8994c;
    border-bottom: 5px solid #c8994c;
}

.searchmainbox {

}

.main {
    padding: 0.2rem;
    background-color: #fff;
    margin-top: 0.2rem;
}

.title {
    color: #333333;
    font-size: 0.34rem;
    line-height: 0.76rem;
}

.all {
    line-height: 0.76rem;
    font-size: 0.24rem;
    color: #cccccc;
}

.leix {
    width: 3.42rem;
    height: 0.78rem;
    border-bottom: 5px solid #f8f8f8;
    background-color: #f8f8f8;
    float: left;
    margin-right: 0.2rem;
}

.leix.active {
    border-bottom: 5px solid #c8994c;
}

.leix:nth-child(2n) {
    margin-right: 0;
}

.leixname {
    font-size: 0.3rem;
    color: #666;
    line-height: 0.78rem;
    text-align: center;
    display: block;
}

.leixbox {
    margin-top: 0.2rem;
}