.shopmall {
    background-color: #1c1c20;
    width: 100vw;
    height: 100vh;
}

.mallbox {
    position: absolute;
    top: 1.5rem;
    left: 50%;
    margin-left: -2.82rem;
}

.toux {
    border-radius: 50%;
    width: 1.62rem;
    height: 1.62rem;
    position: absolute;
    top: -0.6rem;
    left: 50%;
    margin-left: -0.81rem;
    background-color: #fff;
}
.toux img{
    width:100%;
    height: 100%;
    border-radius: 50%;
    border:none;
}
.mallmid {
    width: 5.64rem;
    height: 5.84rem;
    border-radius: 8px;
    background-color: #fff;
}

.midtitle {
    font-size: 0.38rem;
    display: block;
    text-align: center;
    padding-top: 1.24rem;
    color: #000000;
}

.bg5 {
    background: url("img/bg5.png") no-repeat bottom center;
    background-size: 5.28rem 0.29rem;
    width: 5.64rem;
    height: 0.3rem;
}

.bg6 {
    background: url("img/bg6.png") no-repeat top center;
    background-size: 5.28rem 0.29rem;
    width: 5.64rem;
    height: 0.3rem;
}
.wz{
    width:4.92rem;
    height:0.96rem;
    border:0.01rem solid #e5e5e5;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #f2f2f2;
    font-size: 0.32rem;
    color: #1c1c20;
    display: block;
    text-align: center;
    line-height: 0.96rem;
    border-radius: 8px;
    margin-top: 0.3rem;
}

.xx{
    position: absolute;
    bottom: -0.14rem;
    left: 50%;
    margin-left: -0.44rem;
    background: url("img/logo48.png") no-repeat center;
    background-size: cover;
    width:0.88rem;
    height: 0.88rem;
}
.index-navbox {
    border-top: 1px solid #d9d9d9;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
}

.index-nav li {
    width: 25%;
    text-align: center;
    height: 0.29rem;
    padding: 0.56rem 0 0.15rem 0;
    color: #333;
}

.index-nav li.index-nav1 {
    background: url("img/logo9.png") no-repeat center 0.15rem;
    background-size: 0.48rem 0.42rem;
}

.index-nav li.index-nav1.active {
    background: url("img/logo8.png") no-repeat center 0.15rem;
    background-size: 0.48rem 0.42rem;
    color: #cc9933;
}

.index-nav li.index-nav2 {
    background: url("img/logo11.png") no-repeat center 0.15rem;
    background-size: 0.48rem 0.42rem;
}

.index-nav li.index-nav2.active {
    background: url("img/logo10.png") no-repeat center 0.15rem;
    background-size: 0.48rem 0.42rem;
    color: #c8994c;
}

.index-nav li.index-nav3 {
    background: url("img/logo13.png") no-repeat center 0.15rem;
    background-size: 0.48rem 0.42rem;
}

.index-nav li.index-nav3.active {
    background: url("img/logo12.png") no-repeat center 0.15rem;
    background-size: 0.48rem 0.42rem;
    color: #c8994c;
}

.index-nav li.index-nav4 {
    background: url("img/logo15.png") no-repeat center 0.15rem;
    background-size: 0.48rem 0.42rem;
}

.index-nav li.index-nav4.active {
    background: url("img/logo14.png") no-repeat center 0.15rem;
    background-size: 0.48rem 0.42rem;
    color: #c8994c;
}