.voucher {
    padding: 0 0.25rem;
    background-color: #fff;
}

.title {
    font-size: 0.38rem;
    line-height: 1.5rem;
    color: #1a1a1f;
    border-bottom: 0.01rem solid #efefef;
    margin-bottom: 0.12rem;
}
.infobox{
    margin-top: 0.41rem;
}
.info{
    margin-bottom: 0.34rem;
}
.publicwz1 {
    color: #1a1a1f;
    font-size: 0.32rem;
    display: block;
    line-height: 1;
    font-weight: bold;
}

.publicwz2 {
    font-size: 0.26rem;
    color: #888888;
    line-height: 0.34rem;
    width:6.4rem;
    float: left;
}
.wzmain{
    margin-top: 0.17rem;
}
.wzmain i{
    width:0.06rem;
    height: 0.06rem;
    border-radius: 50%;
    background-color: #bbbbbb;
    display: block;
    margin-top: 0.12rem;
    margin-right: 0.2rem;
}
.tip2{
    padding:0.42rem 0;
    border-top:0.01rem solid #e4e4e4;
    border-bottom:0.01rem solid #e4e4e4;
    font-size: 0.26rem;
    color: #888888;
    line-height: 0.4rem;
    width:6.4rem;
}
.pushtitle{
    color: #1a1a1f;
    font-size: 0.32rem;
    display: block;
    line-height: 1;
    text-align: center;
    margin-top: 0.38rem;
    margin-bottom: 0.32rem;
}
.pushmain{
    line-height: 0.96rem;
    color: #ccc;
    border-radius: 6px;
    width:100%;
    border:0.01rem solid #ccc;
    margin-bottom: 0.14rem;
    box-sizing: border-box;
}
.pushwz{
    color: #1a1a1f;
    font-size: 0.32rem;
    line-height: 0.96rem;
    margin:0 0.35rem 0 0.25rem;
    width:1.66rem;
}
.publicinput{
    border: none;
    height: 0.96rem;
    color: #1a1a1f;
    font-size: 0.32rem;
}
.fuyan{
    font-size: 0.28rem;
    color: #999999;
    margin:0 0.35rem 0 0.25rem;
    line-height: 0.96rem;
    width:1.66rem;
}
.btn{
    width:6.94rem;
    height: 0.96rem;
    text-align: center;
    line-height: 0.96rem;
    background-color: #c8994c;
    font-size: 0.3rem;
    color: #fff;
    border-radius: 6px;
}