
.personal_box {
	min-height: 880px;
}

.per_center {
	width: 1190px;
	margin: auto;
}

.per_title {
	line-height: 60px;
}

.per_nav_left {
	width: 220px;
	border: 1px solid #E8E8E8;
	border-bottom: none;
}

.per_nav_right {
	width: 946px;
	min-height: 740px;
	
}
.nav_rights{
	border: 1px solid #E8E8E8;
	border-bottom: none;
}
.per_left_bg {
	height: 192px;
}

.per_left_bg div {
	width: 106px;
	height: 106px;
	margin: auto;
	margin-top: 24px;
}

.per_left_bg p {
	max-width: 164px;
	margin: auto;
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
	line-height: 1.4;
}

.account_list {
	height: 40px;
	line-height: 40px;
	border-top: 1px solid #E8E8E8;
	border-bottom: 1px solid #E8E8E8;
	text-align: right;
}

.account_change {
	width: 96px;
	padding-right: 14px;
	border-right: 1px solid #E8E8E8;
	background: url(../../img/account.png) no-repeat 16px 13px;
}

.account_manage {
	width: 95px;
	padding-right: 14px;
	background: url(../../img/account1.png) no-repeat 16px 13px;
}

.order_list li {
	height: 42px;
	line-height: 42px;
	text-align: center;
	border-bottom: 1px solid #E8E8E8;
}

.per_right_title {
	height: 56px;
	padding-left: 15px;
	background: #fbfbfb;
	border-bottom: 1px solid #E8E8E8;
}

.per_right_title h3 {
	line-height: 56px;
}
.per_user{
	height: 128px;
	margin-bottom:32px ;
	position: relative;
}
.per_user span{
	display: inline-block;
}
.per_img{
	width:128px ;
	height: 128px;
	background: url(../../img/touxiang.jpg) no-repeat center;
	background-size:cover ;
}
.infile_upload{
	width: 100px;
	height: 30px;
	background:#b1b5bd ;
	text-align: center;
	color: #FFFFFF;
	position: absolute;
	left: 248px;
	bottom: 0;
	
}
.infile_upload input{
	display: block;
	width: 100px;
	height: 30px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	
	
}
.infile_upload span{
	display: block;
	width: 100px;
	height: 30px;
	
}
.per_word1{
	display: inline-block;
	width: 70px;
	padding-right: 15px;
	text-align: right;
	vertical-align: top;
	line-height: 42px;
}
.per_word2{
	
	display: inline-block;
	width: 70px;
	padding-right: 15px;
	text-align: right;
	vertical-align: top;
	line-height: 32px;
}
.per_right_bottom{
	padding-left: 16px;
	padding-top: 32px;
	position: relative;
}
.tab{
	height: 32px;
	line-height: 32px;
	margin-bottom: 20px;
}
.tab input[type=text]{
	height: 30px;
	width: 270px;
	padding-left: 10px;
	border: 1px solid #c3c3c3;
	color: #666666;
	font-size: 14px;
}
.tab_radio input{
	margin-top: 9.5px;
}
.tab_radio .per_word2{
	
	padding-right: 20px;
}
.woman{
	margin-left:16px ;
}
.Iphone_xiugai a{
	color: #ab8332;
}
.tab_iphone .userIphone{
	margin-left: 6px;
}
.tab_iphone .Iphone_xiugai{
	margin-left: 30px;	
	cursor: pointer;
}
.lunar{
	margin-left: 24px;
}
.tab_radio .shengri[type=text]{
	width: 136px;
	height: 20px;
	margin-left: 20px;
	margin-top: 5px;
	padding-left: 5px;
	
}
.sub{
	width: 414px;
	margin-left: 90px;
}
.sub div{
	width: 197px;
	height: 38px;
	text-align: center;
	line-height: 38px;
	color: #FFFFFF;
	cursor: pointer;
}
.tab_b{
	margin-bottom: 13px;
}
.tab input[type=text].yanzheng {
	
	width: 170px;
	}

	.code-btn{
		width: 110px;
		height: 30px;
		color: #FFFFFF;
		border: none;
		margin-left: 16px;
	}
.next_bu{
	width: 186px;
	height: 46px;
	color: #FFFFFF;
	text-align: center;
	line-height: 46px;
	margin-left: 88px;
	cursor: pointer;
	margin-top: 50px;
}
.yan_cuo{
	position: absolute;
	left: 104px;
	top: 117px;
	display: none;
}
.yan_cuo_1{
	top: 170px;
}
.sub_xiugai a{
	color: #FFFFFF;
	display: block;
	width: 100%;
	height: 100%;
}
.per_right_password input{
	
	width: 170px;
	height: 30px;
	padding-left: 10px;
	border: 1px solid #C3C3C3;
	color: #666666;
	font-size: 14px;
}
.pwd_success{
	margin-top: 48px;
	padding-right: 16px;
	text-align: center;
}
.pwd_success a{
	display: inline-block;
	width: 200px;
	height:38px ;
	line-height: 38px;
	color: #FFFFFF;
}
.pwd_success h3{
	line-height:60px;
}















