<?xml version="1.0" encoding="utf-8"?>
<Menus>
  <Menu Key="BntWeb-Dashboard" Text="控制台" Class="icon-dashboard"></Menu>
  <Menu Text="内容管理" Class="icon-file-alt">
    <Menu Key="BntWeb-SinglePage-00" Text="注册协议" Class=""></Menu>
    <Menu Key="BntWeb-SinglePage-01" Text="公司简介" Class=""></Menu>
    <Menu Key="BntWeb-SinglePage-02" Text="公司风采" Class=""></Menu>
    <Menu Key="BntWeb-SinglePage-03" Text="5客大事件" Class=""></Menu>
    <Menu Key="BntWeb-SinglePage-04" Text="联系我们" Class=""></Menu>
    <Menu Key="BntWeb-SinglePage-11" Text="配送服务" Class=""></Menu>
    <Menu Key="BntWeb-SinglePage-12" Text="购物指南" Class=""></Menu>
    <Menu Key="BntWeb-SinglePage-13" Text="会员权益" Class=""></Menu>
    <Menu Key="BntWeb-SinglePage-14" Text="订单支付" Class=""></Menu>
    <Menu Key="BntWeb-SinglePage-15" Text="投诉与建议" Class=""></Menu>
    <Menu Key="BntWeb-SinglePage-21" Text="售后咨询" Class=""></Menu>
    <Menu Key="BntWeb-SinglePage-22" Text="退款政策" Class=""></Menu>
    <Menu Key="BntWeb-SinglePage-23" Text="退货办理" Class=""></Menu>
    <Menu Key="BntWeb-SinglePage-31" Text="公司介绍" Class=""></Menu>
    <Menu Key="BntWeb-SinglePage-32" Text="招聘信息" Class=""></Menu>
    <Menu Key="BntWeb-SinglePage-41" Text="团购服务" Class=""></Menu>
    <Menu Key="BntWeb-SinglePage-51" Text="最新活动" Class=""></Menu>
  
  </Menu>
  <Menu Text="商城管理" Class="icon-shopping-cart">
    <Menu Key="BntWeb-Mall-GoodsTypeList" Text="商品类型" Class=""></Menu>
    <Menu Key="BntWeb-Mall-GoodsBrandList" Text="商品品牌" Class=""></Menu>
    <Menu Key="BntWeb-Mall-GoodsCategoryList" Text="商品分类" Class=""></Menu>
    <Menu Key="BntWeb-Mall-SpecialGoodsList" Text="特殊商品" Class=""></Menu>
    <Menu Key="BntWeb-Mall-GoodsList" Text="商品列表" Class=""></Menu>
    <Menu Key="BntWeb-Mall-GoodsRecycleList" Text="商品回收" Class=""></Menu>
    <!--<Menu Key="BntWeb-Mall-TagsList" Text="商品标签" Class=""></Menu>-->
    <Menu Key="BntWeb-OrderProcess-OrdersList" Text="订单列表" Class=""></Menu>
    <Menu Key="BntWeb-OrderProcess-RefundList" Text="订单退款" Class=""></Menu>
    <Menu Key="BntWeb-OrderProcess-ReminderList" Text="催发货" Class=""></Menu>
    <Menu Key="BntWeb-Coupon-CouponList" Text="优惠券" Class=""></Menu>
  </Menu>

  <Menu Key="BntWeb-Carousel-CarouselsList" Text="轮播管理" Class="icon-magic"></Menu>
  <Menu Key="BntWeb-Advertisement-AdvertisementsList" Text="广告管理" Class="icon-barcode"></Menu>
  <!--<Menu Key="BntWeb-SystemMessage-SystemMessageList" Text="系统消息" Class="icon-comment-alt"></Menu>-->

 
  <Menu Text="物流管理" Class="icon-truck">
    <Menu Key="BntWeb-Logistics-ShippingList" Text="配送方式" Class=""></Menu>
  
  </Menu>
  <Menu Key="BntWeb-MemberCenter-MembersList" Text="会员管理" Class="icon-group"></Menu>
  <Menu Text="后台用户" Class="icon-user">
    <Menu Key="Core-SystemUsers-CreateUser" Text="新建用户" Class=""></Menu>
    <Menu Key="Core-SystemUsers-UsersList" Text="用户列表" Class=""></Menu>
    <Menu Key="Core-SystemUsers-RolesList" Text="用户角色" Class=""></Menu>
  </Menu>
  <Menu Text="支付配置" Class="icon-wrench">
    <Menu Key="BntWeb-Config-WeiXinConfig" Text="微信配置" Class=""></Menu>
    <Menu Key="BntWeb-Config-AlipayConfig" Text="支付宝配置" Class=""></Menu>
    <!--<Menu Key="BntWeb-Config-ChinaBankConfig" Text="网银在线配置" Class=""></Menu>-->
    <Menu Key="BntWeb-Config-SystemConfig" Text="系统配置" Class=""></Menu>
  </Menu>
  <Menu Text="系统管理" Class="icon-cogs">
    <Menu Key="Core-SystemSettings-FilesList" Text="文件资源" Class=""></Menu>
    <Menu Key="Core-SystemSettings-SmsList" Text="短信日志" Class=""></Menu>
    <Menu Key="Core-SystemSettings-LogsList" Text="日志管理" Class=""></Menu>
  </Menu>
</Menus>
