<Permissions>
  <Group Category="反馈管理">
    <Permission Name="BntWeb-Feedback-ViewFeedback" Description="查看反馈" />
    <Permission Name="BntWeb-Feedback-ProcesseFeedback" Description="处理反馈" />
    <Permission Name="BntWeb-Feedback-DeleteFeedback" Description="删除反馈" />
  </Group>
  <Group Category="文章管理">
    <Permission Name="BntWeb-Article-ViewArticle" Description="查看文章" />
    <Permission Name="BntWeb-Article-EditArticle" Description="编辑文章" />
    <Permission Name="BntWeb-Article-DeleteArticle" Description="删除文章" />
    <Permission Name="BntWeb-Article-ViewCategories" Description="查看类型" />
    <Permission Name="BntWeb-Article-EditCategories" Description="编辑类型" />
    <Permission Name="BntWeb-Article-DeleteCategories" Description="删除类型" />
  </Group>
  <Group Category="活动管理">
    <Permission Name="BntWeb-Activity-ViewActivity" Description="查看活动" />
    <Permission Name="BntWeb-Activity-EditActivity" Description="编辑活动" />
    <Permission Name="BntWeb-Activity-DeleteActivity" Description="删除活动" />
    <Permission Name="BntWeb-Activity-ManageComment" Description="管理评论" />
    <Permission Name="BntWeb-Activity-ViewType" Description="查看类型" />
    <Permission Name="BntWeb-Activity-EditType" Description="编辑类型" />
    <Permission Name="BntWeb-Activity-DeleteType" Description="删除类型" />
    <Permission Name="BntWeb-Activity-ManageTag" Description="管理标签" />
    <Permission Name="BntWeb-Activity-ViewApply" Description="查看报名人员" />
  </Group>
  <Group Category="单页管理">
    <Permission Name="BntWeb-SinglePage-ViewPage" Description="查看单页" />
    <Permission Name="BntWeb-SinglePage-EditPage" Description="编辑单页" />
  </Group>
  <Group Category="话题管理">
    <Permission Name="BntWeb-Topic-ViewTopic" Description="查看话题" />
    <Permission Name="BntWeb-Topic-DeleteTopic" Description="删除话题" />
    <Permission Name="BntWeb-Topic-ManageComment" Description="管理评论" />
    <Permission Name="BntWeb-Topic-SetHot" Description="设置热门" />
  </Group>
  <Group Category="推广渠道">
    <Permission Name="BntWeb-MemberCenter-ManageChannel" Description="渠道管理" />
  </Group>
  <Group Category="商家管理">
    <Permission Name="BntWeb-Merchant-ViewMerchant" Description="查看商家" />
    <Permission Name="BntWeb-Merchant-DeleteMerchant" Description="删除商家" />
    <Permission Name="BntWeb-Merchant-EditMerchant" Description="编辑商家" />
    <Permission Name="BntWeb-Merchant-EditMerchantType" Description="编辑商家分类" />
    <Permission Name="BntWeb-Merchant-ViewMerchantProduct" Description="查看商家优惠" />
    <Permission Name="BntWeb-Merchant-EditMerchantProduct" Description="编辑商家优惠" />
    <Permission Name="BntWeb-Merchant-DeleteMerchantProduct" Description="删除商家优惠" />
  </Group>
  <Group Category="商城管理">
    <Permission Name="BntWeb-Mall-ManageGoodsType" Description="商品类型管理" />
    <Permission Name="BntWeb-Mall-ManageGoodsType" Description="品牌管理" />
    <Permission Name="BntWeb-Mall-ManageGoods" Description="商品管理" />
    <Permission Name="BntWeb-Mall-ManageGoodsCategorie" Description="商品分类管理" />
    <Permission Name="BntWeb-Mall-ManageTag" Description="管理标签" />
  </Group>
  <Group Category="物流管理">
    <Permission Name="BntWeb-Logistics-ViewShipping" Description="查看配送方式" />
    <Permission Name="BntWeb-Logistics-EditShipping" Description="编辑配送方式" />
    <Permission Name="BntWeb-Logistics-ViewShippingArea" Description="查看配送区域" />
    <Permission Name="BntWeb-Logistics-DeleteShippingArea" Description="删除配送区域" />
    <Permission Name="BntWeb-Logistics-EditShippingArea" Description="编辑配送区域" />
  </Group>
  <Group Category="订单管理">
    <Permission Name="BntWeb-OrderProcess-ViewOrder" Description="查看订单" />
    <Permission Name="BntWeb-OrderProcess-ManageOrder" Description="管理订单" />
    <Permission Name="BntWeb-OrderProcess-ManageComplaint" Description="处理投诉" />
    <Permission Name="BntWeb-OrderProcess-ManageRefund" Description="处理退款" />
    <Permission Name="BntWeb-OrderProcess-ManageEvaluate" Description="评论回复" />
  </Group>
  <Group Category="支付管理">
    <Permission Name="BntWeb-PaymentProcess-ConfigPayment" Description="支付配置" />
  </Group>
  <Group Category="轮播管理">
    <Permission Name="BntWeb-Carousel-ViewMember" Description="查看轮播" />
    <Permission Name="BntWeb-Carousel-EditCarousel" Description="编辑轮播" />
    <Permission Name="BntWeb-Carousel-DeleteCarouse" Description="删除轮播" />
  </Group>
  <Group Category="广告管理">
    <Permission Name="BntWeb-Advertisement-ViewMember" Description="查看广告" />
    <Permission Name="BntWeb-Advertisement-EditAdvertisement" Description="编辑广告" />
  </Group>
  <Group Category="帮助中心">
    <Permission Name="BntWeb-Help-ViewHelp" Description="查看问题" />
    <Permission Name="BntWeb-Help-DeleteHelp" Description="删除问题" />
    <Permission Name="BntWeb-Help-EditHelp" Description="编辑问题" />
    <Permission Name="BntWeb-HelpCategory-ViewHelpCategory" Description="查看问题类别" />
    <Permission Name="BntWeb-HelpCategory-DeleteHelpCategory" Description="删除问题类别" />
    <Permission Name="BntWeb-HelpCategory-EditHelpCategory" Description="编辑问题类别" />
  </Group>
  <Group Category="钱包管理">
    <Permission Name="BntWeb-Wallet-ViewWallet" Description="查看提现申请" />
    <Permission Name="BntWeb-Wallet-ProcesseWallet" Description="处理提现申请" />
  </Group>
  <Group Category="消息中心">
    <Permission Name="BntWeb-SystemMessage-ViewSystemMessage" Description="查看系统消息" />
    <Permission Name="BntWeb-SystemMessage-EditSystemMessage" Description="编辑系统消息" />
    <Permission Name="BntWeb-SystemMessage-DeleteSystemMessage" Description="删除系统消息" />
  </Group>
  <Group Category="会员管理">
    <Permission Name="BntWeb-MemberCenter-ViewMember" Description="查看会员" />
    <Permission Name="BntWeb-MemberCenter-EditMember" Description="编辑会员" />
    <Permission Name="BntWeb-MemberCenter-DeleteMember" Description="删除会员" />
    <Permission Name="BntWeb-MemberCenter-SwitchMemberKey" Description="启用禁用" />
  </Group>
  <Group Category="后台用户">
    <Permission Name="Core-SystemUsers-ViewUser" Description="查看用户" />
    <Permission Name="Core-SystemUsers-EditUser" Description="编辑用户" />
    <Permission Name="Core-SystemUsers-SwitchUserKey" Description="启用禁用" />
    <Permission Name="Core-SystemUsers-DeleteUser" Description="删除用户" />
    <Permission Name="Core-SystemUsers-ViewRole" Description="查看角色" />
    <Permission Name="Core-SystemUsers-EditRole" Description="编辑角色" />
    <Permission Name="Core-SystemUsers-DeleteRole" Description="删除角色" />
  </Group>
  <Group Category="系统管理">
    <Permission Name="Core-SystemSettings-ViewFile" Description="查看文件" />
    <Permission Name="Core-SystemSettings-UploadFile" Description="上传文件" />
    <Permission Name="Core-SystemSettings-DeleteFile" Description="删除文件" />
    <Permission Name="Core-SystemSettings-ViewSms" Description="查看短信日志" />
    <Permission Name="Core-SystemSettings-ViewLog" Description="查看日志" />
    <Permission Name="Core-SystemSettings-ViewDistrict" Description="查看行政区" />
    <Permission Name="Core-SystemSettings-EditDistrict" Description="编辑行政区" />
    <Permission Name="Core-SystemSettings-SoftRelease" Description="软件版本" />
  </Group>
</Permissions>