<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="content-language" content="zh-CN"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content="杭州博采网络科技股份有限公司-高端网站建设-http://www.bocweb.cn"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>鼎盛ABC</title>
    <link rel="stylesheet" href="/Html/css/reset.css">
    <link rel="stylesheet" href="/Html/css/swiper.min.css">
    <link rel="stylesheet" href="/Html/css/main.css">
    <link rel="stylesheet" href="/Html/css/costorderdetails.css">
    <script src="/Html/js/public/jQuery.js"></script>
    <script src="/Html/js/public/vue.js"></script>
    <script src="/Html/js/public/main.js"></script>
    <script src="/Html/js/public/swiper.min.js"></script>

</head>
<body style="">
<div class="orderdetails" id="main">
    <div class="topboxout">
        <div class="topbox clearfix">
            <div class="fl logo33" style="background-image: url('css/img/logo33.png')"></div>
            <div class="fl topwz">
                <span class="topwz1" v-if="info.OrderStatus== 0">等待买家付款</span>
                <span class="topwz1" v-if="info.OrderStatus==5">您的定金正在审核，请耐心等待审核结果</span>
                <span class="topwz1" v-if="info.OrderStatus==6">等待买家补足余款</span>
                <span class="topwz1" v-if="info.OrderStatus ==7">定金审核不通过，请联系客服处理或再次支付定金
</span>
                <span class="topwz1" v-if="info.OrderStatus ==8">余额审核中，请耐心等待</span>
                <span class="topwz1" v-if="info.OrderStatus ==9">余额审核通过，请前往门店提货</span>
                <span class="topwz1" v-if="info.OrderStatus==10">余额审核不通过，请联系客服处理或再次支付余款部分</span>
                <span class="topwz1" v-if="info.OrderStatus==3">订单已完成</span>
                <span class="topwz1" v-if="info.OrderStatus==4">订单已关闭</span>
                <span class="topwz2">订单编号：{{info.OrderNo}}</span>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="box normal">
            <div class="top">
                <div class="shop fl">{{info.OrderNo}}</div>
            </div>
            <a class="pro-style clearfix" v-for="list in info.OrderGoods"  :href="'prodetails.html?id='+list.GoodsId">
                <div class="img fl" :style="{backgroundImage:'url('+list.GoodsImage.RelativePath+')'}"></div>
                <div class="info fl">
                    <div class="name">{{list.GoodsName}}</div>
                    <div class=" clearfix zhongl">
                        <div class="fl">
                            <span class="zl">重量：<i>{{list.Weight}}g</i></span>
                            <span class="sxf">手续费：<i>{{list.ProcessingFee.toFixed(2)}}</i></span>
                        </div>
                        <div class="price fr">¥ <span>{{list.Price.toFixed(2)}}</span>
                        </div>
                    </div>
                    <span class="number">x {{list.Quantity}}</span>
                </div>
            </a>

        </div>
    </div>
    <div class="maininfo">
        <span class="shouhuo">收货信息：</span>
        <div class="fangshibox" v-if="info.PickUp==1">
            <span class="fangs">邮寄</span>
            <div class="shname shwz">收货人名：{{info.Consignee}}</div>
            <div class="shtel shwz">联系电话：{{info.Tel}}</div>
            <div class="shaddress shwz">收货地址：{{info.RegionName}}{{info.Address}}</div>
        </div>
        <div class="fangshibox" v-if="info.PickUp==0">
            <span class="fangs">自提</span>
            <div class="ztname shwz">{{info.MerchantName}}</div>
            <div class="mendaddre shwz">门店地址：{{info.MerchantAddress}}</div>
            <a class="kefutelbox shwz" :href="'tel:'+info.MerchantPhoneNumber">客服电话：<span class="keftel">{{info.MerchantPhoneNumber}}</span>  （点击可直接拨打）</a>
        </div>
        <div class="line">
            <div class="tt">商品金额</div>
            <div class="price yellow">¥ {{info.GoodsAmount.toFixed(2)}}</span></span>
            </div>
        </div>
        <div class="line">
            <div class="tt">手续工费</div>
            <div class="price">¥ {{info.ProcessingFee.toFixed(2)}}</span>
            </div>
        </div>
        <div class="line">
            <div class="tt">邮费</div>
            <div class="price ">包邮包保险</span>
            </div>
        </div>
        <div class="paymoney">
            <!--<p class="sum">待付金额：<span>¥3123</span></p>-->
            <p class="sum" v-else="">实付金额：<span class="sfprice">¥ {{info.PayFee.toFixed(2)}}</span></p>
            <p class="time">下单时间：{{info.CreateTime}}</p>
        </div>
        <div class="btnbox clearfix" v-if="info.OrderStatus== 0&&info.RefundStatus==0">
            <span class="quxiao fl">取消订单</span>
            <a :href="'/Html/pay.html?id='+info.Id+'&time='+info.CreateTime+'&type='+1" class="payor fl">支付订单</a>
        </div>
        <div class="btnbox clearfix" v-if="info.OrderStatus == 2&&info.PayStatus==2">
            <span class="payor fl one confirm-btn">确认收货</span>
        </div>
        <div class="btnbox clearfix" v-if="info.OrderStatus==4">
            <span class="payor fl one delete-btn">关闭订单</span>
        </div>
        <div class="btnbox clearfix" v-if="info.OrderStatus==6||info.OrderStatus==10">
            <span class="payor fl one paymor-btn">补足余款</span>
        </div>
    </div>
</div>

<div class="new-loading">
<ul class="small-loading">
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>
</div>
<script src="/Html/js/mjs/costorderdetails.js"></script>
</body>

</html>