<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="content-language" content="zh-CN"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content="杭州博采网络科技股份有限公司-高端网站建设-http://www.bocweb.cn"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>鼎盛ABC</title>
    <link rel="stylesheet" href="/Html/css/reset.css">
    <link rel="stylesheet" href="/Html/css/swiper.min.css">
    <link rel="stylesheet" href="/Html/css/main.css">
    <link rel="stylesheet" href="/Html/css/prodetails.css">
    <script src="/Html/js/public/jQuery.js"></script>
    <script src="/Html/js/public/vue.js"></script>
    <script src="/Html/js/public/main.js"></script>
    <script src="/Html/js/public/swiper.min.js"></script>

</head>
<body style="">
<div class="box" id="main">
    <div class="infoBox" >
        <div class="pro-info pb120">
            <div id="pro-info">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" :style="{backgroundImage: 'url('+listimg.RelativePath+')'}"
                             v-for="listimg in info.MainImage"></div>
                    </div>
                    <!-- 如果需要分页器 -->
                    <div class="swiper-pagination"></div>
                </div>
                <div class="content">
                    <div class="">
                        <div class="name">{{info.Name}}</div>
                    </div>
                    <div class="pricebox clearfix">
                        <div class="price fl">
                            <span class="nowp">¥<span class="int">{{info.Price.toFixed(2)}}</span></span>
                        </div>
                        <div class="freight fr">包邮包保险</div>
                        <div class="buynum fr">{{info.SalesVolume}}人已购买</div>
                    </div>

                    <div class="touzi clearfix" v-if="info.Type==1">
                        <span class="dingj fl">定金: <i>￥{{info.SingleGoogsList[0].Deposit}}</i></span>
                        <span class="toprice fl">当日金价:<i>{{info.GoldPrice}}</i>元/克</span>
                    </div>
                    <div class="tips">
                        <div class="tiptitle">{{tipinfo.Title}}</div>
                        <div class="tipz">{{tipinfo.Content}}
                        </div>
                    </div>
                </div>

            </div>
            <div class="size">选择规格 <i></i></div>
            <div class="information">
                <div class="btns f-cb">
                    <div class="btn cur">产品详情</div>
                    <div class="btn eva-btn">购买须知</div>
                </div>
                <div class="info">
                    <div class="infoajax">
                        {{{info.Description}}}
                    </div>
                    <div class="evaluateajax">
                       {{info.BuyNotice}}
                    </div>
                </div>
            </div>
        </div>


        <div style="width: 100%;height: 1.26rem;"></div>
    </div>
    <div class="size-mask">
        <div class="size-box">
            <div class="size-info f-cb clearfix">
                <div class="imgbox fl">
                    <div class="img" :style="{backgroundImage: 'url('+imgs+')'}"></div>
                </div>
                <div class="info fl">
                    <p class="price" v-if="info.SingleGoogsList">¥{{info.Price.toFixed(2)}}</p>
                    <p>{{info.Name}}</p>
                    <p>库存 <span class="kc">{{info.Stock}}</span>件</p>
                </div>
            </div>
            <div class="tcbox">
                <div class="tc first" >
                    <div class="tit" :data-id="info.AttributeValues[0].AttributeId">{{info.AttributeValues[0].AttributeName}}</div>
                    <ul class="f-cb choose-box">
                        <li class="choose" :data-px="$index" :data-id="info.AttributeValues[0].AttributeId"
                            v-for="list2 in info.AttributeValues[0].list">{{list2}}</li>
                    </ul>
                </div>
                <div class="tc other" v-if="info.AttributeValues[1]">
                    <div class="tit" :data-id="info.AttributeValues[1].AttributeId">{{info.AttributeValues[1].AttributeName}}
                    </div>
                    <ul class="f-cb choose-box">
                        <li class="choose" :data-px="$index" :data-id="info.AttributeValues[1].AttributeId"
                            v-for="list2 in info.AttributeValues[1].list">{{list2}}</li>
                    </ul>
                </div>
            </div>
            <div class="getnum">
                <div class="tit fl">数量</div>
                <div class="numbox f-cb fr">
                    <div class="jian fl"></div>
                    <input type="tel" class="amount fl" value="1" disabled>
                    <div class="jia fl"></div>
                </div>
            </div>
            <div class="get-btn f-cb">
                <!--<div class="pro-in-gobuy">确定</div>-->
                <div class="pro-in-gocart fl">加入购物车</div>
                <div class="pro-in-gobuy fr">立即结算</div>
            </div>
            <div class="close"></div>
        </div>
    </div>
    <div class="goshop">
        <div :class="['coll',HasCollect?'cur':'']" id="coll">
            <div class="tb"></div>
            <span>收藏</span>
        </div>
        <div class="goshopc">
            <div class="tb"></div>
            <span>购物车</span>
        </div>
        <div class="addshopc">加入购物车</div>
        <div class="gobuy">立即购买</div>
    </div>
</div>
<div class="new-loading">
    <ul class="small-loading">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<script src="/Html/js/mjs/prodetails.js"></script>
</body>

</html>