<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="content-language" content="zh-CN"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content="杭州博采网络科技股份有限公司-高端网站建设-http://www.bocweb.cn"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>鼎盛ABC</title>
    <script src="/Html/js/public/jQuery.js"></script>
    <script src="/Html/js/public/vue.js"></script>
    <script src="/Html/js/public/main.js"></script>
    <link rel="stylesheet" href="/Html/css/reset.css">
    <link rel="stylesheet" href="/Html/css/searchlist.css">
</head>
<body>
<div class="search-tit f-cb" >
    <div type="submit" class="btn fl"></div>
    <div type="text" class="text">搜索关键字</div>
</div>
<div class="pro-list shopcar detailed pb120" id="pro-list" style="margin-top: 0;" v-cloak="">
    <div class="box" v-for="box in Goods">
        <a :href="'/Html/prodetails.html?id='+box.Id" class="f-cb">
            <div class="img fl" :style="{backgroundImage: 'url('+box.MainImage.MediumThumbnail+')'}"></div>
            <div class="info fl">
                <div class="tt">{{box.Name}}</div>
                <div class="tc f-cb">
                    <div class="int fl">{{box.PaymentAmount}}人已付款</div>
                </div>
                <div class="bot f-cb">
                    <div class="price fl">¥ <span class="amo" data-unit="10.54" data-price="10.54">{{box.ShopPrice.toFixed(2)}}</span></div>
                </div>
            </div>
        </a>
    </div>
    <div class="loading">加载中，请稍后...</div>
</div>
<div class="index-navbox">
    <ul class="index-nav clearfix">
        <a href="../index.html">
            <li class="index-nav1 active fl">首页</li>
        </a>
        <a href="shopmall.html">
            <li class="index-nav2 fl">商城</li>
        </a>
        <a href="my.html">
            <li class="index-nav4 fl">我的</li>
        </a>
    </ul>
</div>
<div class="search-box" id="search_box" v-cloak="">
    <div class="content">
        <div class="search fl">
            <!--<div class="close fl"></div>-->
            <input type="text" class="text" placeholder="搜索关键字">
            <span class="delete"></span>
        </div>
        <div class="btn fl">搜索</div>
    </div>
    <div class="con">
        <p>大家都在搜...</p>
        <ul>
            <li v-for="tag in data" :data-tag="tag">{{tag}}</li>
        </ul>
    </div>
    <div class="nothing">
        <div class="tbs"></div>
        <p>抱歉，没有找到符合条件的商品</p>
    </div>
</div>
<script src="/Html/js/mjs/searchlist.js"></script>
</body>
</html>